.slidecontainer {
    width: 100%;  /* Width of the outside container */
    padding-bottom: 15px;
    padding-top: 15px;
}

/* The slider itself */
.slider {
-webkit-appearance: none; /* Override default CSS styles */
width: 95%; /* Full-width */
height: 10px; /* Specified height */
border-radius: 5px;
background: #d3d3d3; /* Grey background */
outline: none; /* Remove outline */
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 23px; /* Set a specific slider handle width */
height: 23px; /* Slider handle height */
border-radius: 50%;
background: #4CAF50; /* Green background */
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
width: 23px; /* Set a specific slider handle width */
height: 23px; /* Slider handle height */
border-radius: 50%;
background: #4CAF50; /* Green background */
cursor: pointer; /* Cursor on hover */
}

#slider_value {
  text-align: center;
}
